.alert {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-left: 3px solid $color-error;
    color: $color-error;
    background-color: $color-bg-error;
  
    svg {
      margin-left: 1rem;
    }
  
    p {
      margin-left: 1rem;
    }
}
  