input {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.25em;
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $fourth-color;
}

textarea {
    font-size: 1.15em;
    padding: .3rem;
}