.blog {
  width: 100%;
  height: fit-content;
  padding: 0 30%;
  background-color: $secondary-color;

  & > hr {
    background-color: $fourth-color;
    height: 3px;
    border: none;
  }

  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__author {
    display: flex;
    column-gap: 1.3rem;
  }

  &__title-container {
    background-color: $fourth-color;
    color: $primary-color;
    padding: 1rem 30%;
  }

  &__introduction {
    margin: 2rem 0;
    font-size: 18px;
    line-height: 1.5;
  }

  &__body {
    margin: 2rem 0;
    font-size: 16px;
  }
}
