.blog {
  width: 100%;
  height: fit-content;
  padding: 0 30%;
  background-color: $secondary-color;

  & > hr {
    background-color: $fourth-color;
    height: 3px;
    border: none;
  }

  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__author {
    display: flex;
    column-gap: 1.3rem;
  }

  &__title-container {
    background-color: $fourth-color;
    color: $primary-color;
    padding: 1rem 30%;
  }

  &__introduction {
    margin: 2rem 0;
    font-size: 18px;
    line-height: 1.5;
  }

  &__body {
    margin: 2rem 0;
    font-size: 16px;
  }
}

.author {
  margin-bottom: 2rem;

  & > h2 {
    font-size: 1.7em;
  }

  &__name {
    font-size: 1.5em;
    font-weight: bold;
    color: $fourth-color;
  }

  &__title {
    font-size: 1.1em;
    color: $fourth-color;
    display: block;
  }

  &__description {
    font-size: 1.1em;
    line-height: 1.625;
  }
}
