.contact {
  width: 100%;
  min-height: 70%;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;

  &__container {
    padding: 3rem 0;
  }

  &__info {
    background-color: $third-color;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    color: $secondary-color;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-bottom: 1.8rem;

    &-text {
      margin-left: 2rem;
    }

    &-title {
      font-size: 1.35em;
      margin: 2px 0;
    }

    &-paragraph {
      font-size: 1.1em;
      line-height: 1.625;
      margin: 2px 0;
    }

    &:hover {
      background-color: $secondary-color;
      color: $third-color;
      transition: all 0.4s ease-in-out;
    }
  }
}
