html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
    font-size: 1.15rem;
}

@import "helpers.scss";
@import "variables.scss";
@import "views/welcome.scss";
@import "components/button.scss";
@import "components/a.scss";
@import "components/alert.scss";
@import "components/input.scss";
@import "views/profile.scss";
@import "components/modal.scss";
@import "views/Nav.scss";
