.mt2 {
  margin-top: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.mauto {
  margin: auto;
}

.mlauto {
  margin-left: auto !important;
}

.title {
  padding: 1rem;
  background-color: $third-color;
  color: $secondary-color;
  text-align: center;
}

.flex {
  display: flex;
}

.not-block {
  display: inline-block !important;
}

.color-grey {
  color: $color-grey;
}

.flex-direction-col {
  flex-direction: column;
}
