$primary-color: #7fc8a9;
$secondary-color: #d5eebb;
$third-color: #5f7a61;
$fourth-color: #444941;

$color-error: #9c2c2c;
$color-bg-error: #e0dbdb;
$color-modal: rgb(223, 223, 223);
$color-white: #f5f9ef;
$color-grey: #444941;
