html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 1.15rem;
}

.mt2 {
  margin-top: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.mauto {
  margin: auto;
}

.title {
  padding: 1rem;
  background-color: #5f7a61;
  color: #d5eebb;
  text-align: center;
}

.flex {
  display: flex;
}

.not-block {
  display: inline-block !important;
}

.welcome__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.welcome__form {
  background-color: #d5eebb;
  color: #444941;
  padding: 4% 2%;
  flex-grow: 1;
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 3.5rem 1rem 3.3rem 1rem 3.3rem 2.5rem 3rem 4.5rem;
  align-items: center;
  width: 25%;
}

.welcome__image {
  height: 100vh;
  background-color: #5f7a61;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
}

.btn__active {
  display: block;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  background-color: #7fc8a9;
}
.btn__active:hover {
  background-color: #5f7a61;
  color: white;
  transition: 0.3s;
}

.btn__locked {
  display: block;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  cursor: default;
  background-color: #eeeeee;
}

.btn__link {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.btn__link:hover {
  background-color: #7fc8a9;
  color: #5f7a61;
}

.btn__error {
  background-color: #9c2c2c;
  color: white;
}
.btn__error:hover {
  background-color: #e0dbdb;
  color: black;
  transition: 0.3s;
}

.btn__color-p-s {
  background-color: #7fc8a9;
}
.btn__color-p-s:hover {
  background-color: #d5eebb;
  color: black;
  transition: 0.3s;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}

.alert {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-left: 3px solid #9c2c2c;
  color: #9c2c2c;
  background-color: #e0dbdb;
}
.alert svg {
  margin-left: 1rem;
}
.alert p {
  margin-left: 1rem;
}

input {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25em;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #444941;
}

textarea {
  font-size: 1.15em;
  padding: 0.3rem;
}

.form {
  width: 85%;
  background-color: #d5eebb;
}
.form__container {
  width: 40%;
  margin: auto;
  overflow-y: auto;
  height: 90%;
}
.form__item {
  column-gap: 1rem;
  align-items: baseline;
  margin-bottom: 1rem;
}
.form h2 {
  text-transform: uppercase;
}
.form label {
  font-size: 1.1em;
  display: block;
  margin-bottom: 0.5rem;
}
.form input {
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
}
.form textarea {
  width: 100%;
  height: 100px;
  border-radius: 0.5rem;
  font-family: inherit;
}

.modal {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal--active {
  display: flex;
}
.modal--inactive {
  display: none;
}
.modal__content {
  width: 40%;
  height: 30%;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal__content > .modal__header {
  background-color: #7fc8a9;
}
.modal__header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.modal__body {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.modal--error > .modal__header {
  background-color: #9c2c2c;
  color: white;
}

.nav__container {
  height: 100vh;
  display: flex;
}

.nav__options {
  display: flex;
  flex-wrap: wrap;
  line-height: 3rem;
  align-items: center;
  flex-direction: column;
  background-color: #5f7a61;
  color: #d5eebb;
  margin-bottom: 1rem;
  height: 100%;
  width: 18%;
}

.nav__init {
  cursor: pointer;
}

.blogs {
  width: 85%;
  background-color: #d5eebb;
}
.blogs__title {
  text-transform: uppercase;
  width: 40%;
  margin: auto;
}
.blogs__container {
  width: 70%;
  margin: auto;
  overflow-y: auto;
  height: 80%;
  border: 4px solid #5f7a61;
  background-color: #444941;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 1rem;
  list-style: none;
  align-items: stretch;
}
.blogs__container h3 {
  margin-top: 0rem;
}
.blogs__item {
  column-gap: 1rem;
  align-items: stretch;
  margin-bottom: 1rem;
  background-color: #7fc8a9;
  width: fit-content;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  max-height: 30%;
  max-width: 200px;
}
.blogs__item:hover {
  background-color: #d5eebb;
  transition: all 0.3s;
}
.blogs__item__description {
  margin: 5px 0;
}
.blogs__item__date {
  margin: 0;
  margin-top: 0.6rem;
  color: #5f7a61;
  font-weight: 600;
}

.nav {
  margin: 0;
  width: 100%;
  position: sticky;
  z-index: 9000;
  top: 0;
  background-color: #5f7a61;
  color: #d5eebb;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);
}
.nav__list {
  margin: 0;
  padding: 1.5rem;
  list-style: none;
  display: flex;
}
.nav__list > li {
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav__list > li:hover {
  color: #7fc8a9;
}

.blog {
  width: 100%;
  height: auto;
  padding: 0 30%;
  background-color: #d5eebb;
}
.blog > hr {
  background-color: #444941;
  height: 3px;
  border: none;
}
.blog__box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog__author {
  display: flex;
  column-gap: 1.3rem;
}
.blog__title-container {
  background-color: #444941;
  color: #7fc8a9;
  padding: 1rem 30%;
}
.blog__introduction {
  margin: 2rem 0;
  font-size: 18px;
  line-height: 1.5;
}
.blog__body {
  margin: 2rem 0;
  font-size: 16px;
}

.author {
  margin-bottom: 2rem;
}
.author > h2 {
  font-size: 1.7em;
}
.author__name {
  font-size: 1.5em;
  font-weight: bold;
  color: #444941;
}
.author__title {
  font-size: 1.1em;
  color: #444941;
  display: block;
}
.author__description {
  font-size: 1.1em;
  line-height: 1.625;
}

.footer {
  width: 100%;
  background-color: #5f7a61;
  color: #d5eebb;
  bottom: 0;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__copy {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  margin-right: 2rem;
}
.footer > a {
  color: #7fc8a9;
  text-decoration: none;
}
.footer > a:hover {
  color: #d5eebb;
}
.footer > a:active {
  color: #5f7a61;
}
.footer > a:visited {
  color: #7fc8a9;
}

.dashboard {
  width: 100%;
  height: 100%;
  background-color: #d5eebb;
}
.dashboard-header {
  background-color: #444941;
  color: #d5eebb;
}
.dashboard-header-title {
  margin-top: 0;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem 0;
}
.dashboard-body {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  text-align: center;
}
.dashboard-body-text {
  font-size: 1.6em;
  color: #5f7a61;
  font-weight: 500;
  padding: 1rem 0;
}

.spinner-page {
  width: 100%;
  height: 100%;
  background: #d5eebb;
  color: #5f7a61;
  text-align: center;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}

.spinner-container {
  width: 100%;
  height: 100%;
  padding: 5em;
}

.spinner-paragraph {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

.not-found {
  background-color: #d5eebb;
  color: #5f7a61;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
  padding: 0 20%;
}
.not-found > h1 {
  font-size: 3em;
  color: #9c2c2c;
}
.not-found > p {
  font-size: 1.5em;
}

.contact {
  width: 100%;
  height: auto;
  padding: 0 37%;
  background-color: #d5eebb;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
}
.contact__title-container {
  background-color: #444941;
  color: #7fc8a9;
  padding: 1rem 30%;
}
.contact__container {
  padding: 3rem 0;
}
.contact__info {
  background-color: #5f7a61;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  color: #d5eebb;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-bottom: 1.8rem;
}
.contact__info-text {
  margin-left: 2rem;
}
.contact__info-title {
  font-size: 1.35em;
  margin: 2px 0;
}
.contact__info-paragraph {
  font-size: 1.1em;
  line-height: 1.625;
  margin: 2px 0;
}
.contact__info:hover {
  background-color: #d5eebb;
  color: #5f7a61;
  transition: all 0.4s ease-in-out;
}
