html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

input {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25em;
  padding: .5rem;
  width: 100%; }

label {
  font-size: 1.15rem; }

.welcome__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%; }

.welcome__form {
  background-color: #D5EEBB;
  color: #444941;
  padding: 8% 12%; }
